.idiomasHeader{
  background-image:url(../img/idiomasPoster.jpg);
}
.climbingHeader{
  background-image:url(../img/climbingPoster.jpg);
}
.yogaHeader{
  background-image:url(../img/yogaPoster.jpg);
}
.musicHeader{
  background-image:url(../img/musicPoster.jpg);
}

#clases {
  margin-bottom: 0px;
}

/*
#aboutus img {
    float: none;
    margin: 0 auto;
    position: relative;
    display: table;
    max-width: 100%;
    max-height: 150px;
    margin-bottom: 15px;
}
*/

.thumbnail {
    border: 0 none;
    box-shadow: none;
}

.row .about-text {
    float: none;
    margin: auto 0;
    position: relative;
    display: table;
}

section .section-heading {
    margin-bottom: 0 !important;
}


.carousel-indicators li {
  background: #C4C4BE;
  border-color: #C4C4BE;
}

.carousel-indicators li.active {
	  background: #99c5ff;
    border-color: #99c5ff;
}


.item {
  padding: 0px 50px 0px 50px;
}

.control-carousel {
  position: absolute;
  top: 40%;
  font-size: 60px;
  color: #C2C2C1;
}

.control-carousel:hover{
  color: #636363 ;
}

.right {
  right: 0;
}

.carousel-inner {

}

.carousel-inner img {
  max-height: 400px;
  margin: auto;
}

@media (min-width:992px){
  .control-carousel.left {
    margin-left: 100px;
  }

  .control-carousel.right {
    margin-right: 100px;
}
