.aboutUs {
  background: url(../images/IdiomasBG1.jpg) no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  padding: 150px;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.clasesHorarios {
  background: url(../images/IdiomasBG2.jpg) no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  padding: 150px;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
