.idiomasHeader{
  background-image:url(../img/idiomasPoster.jpg);
}
.climbingHeader{
  background-image:url(../img/climbingPoster.jpg);
}
.yogaHeader{
  background-image:url(../img/yogaPoster.jpg);
}
.musicHeader{
  background-image:url(../img/musicPoster.jpg);
}
