ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
    left: 0%;
}

.navbar-default .nav li.dropdown ul a {
  color: #414141;
}

.header-container {
  width: 100%;
  height: 600px;
  border-left: none;
  border-right: none;
  position: relative;
  padding: 20px;
}

.video-container {
  position: absolute;
  top: 0%;
  left: 0;
  height: inherit;;
  width: 100%;
  overflow: hidden;
}

video {
  position: absolute;
  z-index: -1;
  opacity: 1.0;
  width:  100%;
}

#videoHeader {
  color: #FFF;
  z-index: 1;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20%;
  background-color: rgb(0, 0, 0);
  border: 3px solid #000000;
  padding: 10px;
  border-radius: 15px;
  width: 70%;
  letter-spacing: 1px;
  font-size: 24px;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

#videoInfo {
  color: #FFFFFF;
  z-index: 1;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
  letter-spacing: 1px;
  font-size: 18px;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

@media (min-width:768px){
  #videoHeader {
    width: 70%;
    letter-spacing: 3px;
    font-size: 40px;
    margin-top: 15%;
  }

  #videoInfo {
    width: 70%;
    letter-spacing: 3px;
    font-size: 24px;
  }
}

@media (min-width:992px){
  #videoHeader {
    width: 61%;
    font-size: 50px;
    margin-top: 15%;
  }
}

.carousel-indicators li {
  background: #C4C4BE;
  border-color: #C4C4BE;
}

.carousel-indicators li.active {
	  background: #99c5ff;
    border-color: #99c5ff;
}


.item {
  padding: 0px 50px 0px 50px;
}

.control-carousel {
  position: absolute;
  top: 40%;
  font-size: 60px;
  color: #C2C2C1;
}

.control-carousel:hover{
  color: #636363 ;
}

.right {
  right: 0;
}

.left {
  left: 0;
}

.carousel-inner {

}

.carousel-inner img {
  max-height: 400px;
  margin: auto;
}

@media (min-width:992px){
  .control-carousel.left {
    margin-left: 100px;
  }

  .control-carousel.right {
    margin-right: 100px;
}
