.climbingHeader{
  background-image:url(../img/climbingPoster.jpg);
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
    left: 0%;
}

section {
  padding: 100px 100px;
}

table {
  margin-bottom: 0px !important;
}

h5 {
  color: #7a8998;
  position: relative;
  top: 15px;
}

.navbar-default .nav li.dropdown ul a {
  color: #414141;
}

.form-login {
  max-width: 300px;
  max-height: 425px;
  padding: 20px 30px 30px;
  margin: 0 auto 20px;
  background-color: #ffffff;
  border: 3px solid #eaeaea;
  border-radius: 5px;
  position: relative;
  bottom: 50px;
  right: 230px;
}

.form-login .form-login-heading,
.form-register .form-login-register {
  margin-bottom: 10px;
}

.form-login input[type="email"], .form-login input[type="password"],
.form-register input[type="text"], .form-register input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 3px;
  padding: 7px 9px;
}

.form-login button {
  position: relative;
  bottom: 35px;
  width: 90px;
  background-color: #939393;
}

.form-register {
  max-width: 300px;
  max-height: 475px;
  padding: 20px 30px 30px;
  margin: 0 auto 20px;
  background-color: #ffffff;
  border: 3px solid #eaeaea;
  border-radius: 5px;
  position: absolute;
  top: 245px;
  right: 300px;
}

.form-register button {
  position: relative;
  width: 120px;
  background-color: #939393;
}

#rememberMe {
  position: relative;
  left: 70px;
  bottom: 5px;
}

#recuerdame {
  position: relative;
  left: -50px;
  top: -40px;
}
